.x-solitaire-window .x-window-body .x-panel-body {
  background-color: #080;
  padding-top: 10px;
}

.x-solitaire-card {
  width: 72px;
}

.x-solitaire-card-under {
  height: 20px;
}

.x-solitaire-card-top {
  height: 100px;
}

.x-solitaire-suit-stack {
  height: 100px;
  width: 72px;
  background: url(images/cards.gif) no-repeat bottom right;
}

.x-solitaire-suit-stack .x-solitaire-card-under {
  height: 0;
}

.x-solitaire-stack {
  width: 72px;
  margin: 1px auto;
  min-height: 100px;
}

.x-solitaire-deck {
  width: 72px;
  margin: 1px auto;
}

.x-solitaire-dealer {
  width:  72px;
  height: 100px;
  margin: 0 auto;
}

.x-solitaire-deck .x-solitaire-card-under {
  height: 0;
}

.solitaire-info .x-panel-body {
  padding: 5px;
}

.solitaire-info h1 {
  margin-bottom: 10px;
  font-size: 16px;
}

.solitaire-info p {
  margin-bottom: 10px;
}

.x-solitaire-card-hidden {
  background-position: -72px 100px;
}