.x-solitaire-window .x-window-body .x-panel-body {
  background-color: #080;
}

.x-solitaire-card {
  width: 72px;
}

.x-solitaire-card-under {
  height: 20px;
}

.x-solitaire-card-top {
  height: 100px;
}

.x-solitaire-suit-stack {
  height: 100px;
  width: 72px;
  border: 1px solid red;
}

.x-solitaire-suit-stack .x-solitaire-card-under {
  height: 0;
}

.x-solitaire-stack {
  height: 300px;
}

.x-solitaire-deck .x-solitaire-card-under {
  height: 0;
}

.solitaire-info .x-panel-body {
  padding: 5px;
}

.solitaire-info h1 {
  margin-bottom: 10px;
  font-size: 16px;
}

.solitaire-info p {
  margin-bottom: 10px;
}

.x-solitaire-card-hidden {
  background-position: -72px 100px;
}